@media screen and (max-width: 600px) and (orientation: portrait) {

.languages {
  height: 2%;
}

.container, .container * {
  font-size: calc(0.95vw + 0.95vh);
}

.centre-box {
  width: 80%;
}

.portrait img {
  height: 50vw;
  max-height: 100%;
}

.navigation a {
  height: 3vh;
  width: 12%;
  font-size: calc(0.8vw + 0.8vh);
}

}
